---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
     <p>
        Hello, my name is Jasmine. I do front-end development and design and am diving into backend as well as some other types of programming. I also do photography and art.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>Vanilla Css</li>
        <li>Vue</li>
        <li>Astro</li>
        <li>Java</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about design, fine art and photography. In my free time I enjoy studying japanese and reading books such as the House of Leaves.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job. My goal is to find the right
      solution for each project. I want to at least try new technologies and approaches at least once.
    </p>
  </div>
</Card>
